<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
    <ion-buttons slot="secondary">
	    <ion-button fill="outline" routerLink="/home">
	      Home
	    </ion-button>
	    <ion-button fill="outline" routerLink="/signup">
	      Signup
	    </ion-button>
	</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<form #form="ngForm" (submit)="onSubmit()">
		<ion-item>
			<ion-label position="stacked">Username</ion-label>
			<ion-input type="text" [(ngModel)]="username" required="true" name="username"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">Password</ion-label>
			<ion-input type="password" [(ngModel)]="password" required="true" name="password"></ion-input>
		</ion-item>

		<ion-button type="submit">
			Login
		</ion-button>

	</form>
</ion-content>
