<ion-header>
  <ion-toolbar>
    <ion-title>
      New Wall Message
    </ion-title>
    <ion-buttons slot="secondary">
	    <ion-button submit-btn fill="outline" color="danger" (click)="onSubmit()">
	      Create
	    </ion-button>
	</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-note>Enter a message, picture or both</ion-note>
  	<ion-item>
  		<ion-label position="stacked">Message</ion-label>
  		<ion-textarea [(ngModel)]="message.text_message"></ion-textarea>
  	</ion-item>

  	<ion-item lines="full">
  		<ion-button slot="start" fill="clear" (click)="fileElement.click()">
  			<ion-icon slot="start" name="cloud-upload"></ion-icon>
  			Select Image
  		</ion-button>
  		<ion-button remove-image slot="end" color="danger" fill="clear" (click)="removeImage()" [disabled]="!message.picture">
  			<ion-icon slot="start" name="trash"></ion-icon>
  			Remove Image
  		</ion-button>
  	</ion-item>


  	<image-cropper #cropper
	    [imageFileChanged]="inputFile"
	    [maintainAspectRatio]="true"
	    [aspectRatio]="4 / 3"
	    [resizeToWidth]="300"
	    format="png"
	    outputType="file"
	    (imageCropped)="imageCropped($event)"
	>
	</image-cropper>

</ion-content>

<input type="file" #fileElement (change)="inputFile=fileElement.files.item(0)" accept="image/*">
