<ion-card>
    <ion-img picture *ngIf="message.picture" [src]="message.picture"></ion-img>
    <ion-card-header>
        <ion-card-subtitle>{{message.user.first_name}} {{message.user.last_name}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content *ngIf="message.text_message">
        <p>{{message.text_message}}</p>
    </ion-card-content>
    <ion-item lines="none">
    	<ion-img avatar slot="start" [src]="avatarURL"></ion-img>
    	<ion-note slot="end">{{message.created | date : 'medium'}}</ion-note>
	</ion-item>
</ion-card>