<ion-header>
  <ion-toolbar>
    <ion-title>Signup</ion-title>
    <ion-buttons slot="secondary">
	    <ion-button fill="outline" routerLink="/home">
	      Home
	    </ion-button>
	    <ion-button fill="outline" routerLink="/login">
	      Login
	    </ion-button>
	</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<form #form="ngForm" (submit)="onSubmit()">
		<ion-item>
			<ion-label position="stacked">First Name</ion-label>
			<ion-input type="text" [(ngModel)]="user.first_name" required="true" name="first_name"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">Last Name</ion-label>
			<ion-input type="text" [(ngModel)]="user.last_name" required="true" name="last_name"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">Email</ion-label>
			<ion-input type="email" [(ngModel)]="user.email" required="true" name="email"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">Username</ion-label>
			<ion-input type="text" [(ngModel)]="user.username" required="true" name="username"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">Password</ion-label>
			<ion-input type="password" [(ngModel)]="user.password" required="true" name="password"></ion-input>
		</ion-item>

		<ion-button type="submit">
			Register
		</ion-button>

	</form>
</ion-content>
