<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="secondary">
	    <ion-button *ngIf="!api.user" fill="outline" routerLink="/login">
	      Login
	    </ion-button>
	    <ion-button *ngIf="!api.user" fill="outline" routerLink="/signup">
	      Signup
	    </ion-button>
	    <ion-button *ngIf="api.user" fill="outline" color="danger" (click)="logout()">
	      Logout
	    </ion-button>
	</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

    <div messages-container>

    	<app-wall-message *ngFor="let wallMessage of paginatedResult.results" [message]="wallMessage">
    	</app-wall-message>

    </div>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button createwall-btn (click)="createWallMessage()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <ion-button previous-btn [disabled]="!paginatedResult.previous" (click)="loadPage(paginatedResult.previous ? paginatedResult.previous : '')">
        Previous
      </ion-button>
      <ion-button next-btn [disabled]="!paginatedResult.next" (click)="paginatedResult.next ? loadPage(paginatedResult.next) : ''">
        Next
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>