ion-footer > ion-toolbar > ion-buttons {
	display:flex;
	justify-content:center;
}

[messages-container] {
	display:flex;
	flex-direction: column;
    align-items: center;
}

[messages-container] > * {
	width:500px;
}

@media only screen and (max-width: 500px)  {
	[messages-container] > * {
		width:100%;
	}
}

